/* Making comments within R code in the notebook more visible */
.hljs-comment {
  /*color: #008080 */
  color: #e04c14
}

/* Centering header information (title, author etc.) */
#header {
  text-align: center;
}

#copyright {
       position: absolute;
       bottom:0; 
 }